<section class="stretch-section">
  <img class="stretch-banner" src="5-의약품 투약 및 식이요법 배너.png" data-img="5-의약품 투약 및 식이요법 배너.png" alt="의약품 투약 및 식이요법 배너" loading="lazy">

  <div class="nav-buttons" id="medicationGrid">
    <div class="nav-item">
      <button class="nav-btn" data-title="투약안내문" data-img="투약안내문2.png" data-ko="투약안내문" data-en="Medication guide" data-i18n="true" onclick="openInlineViewer(this)">
        투약안내문
      </button>
    </div>

    <div class="nav-item">
      <button class="nav-btn" data-title="통풍 식이요법" data-img="통풍안내문.png" data-ko="통풍 식이요법" data-en="Gout diet guidance" data-i18n="true" onclick="openInlineViewer(this)">
        통풍 식이요법
      </button>
    </div>
  </div>
</section>
