<section class="stretch-section">
  <img class="stretch-banner" src="스트레칭 배너.png" data-img="스트레칭 배너.png" alt="스트레칭 가이드 배너" loading="lazy">

  <div class="nav-buttons" id="stretchGrid">
    <div class="nav-item"><button class="nav-btn" data-title="목 스트레칭 1" data-img="stretch/목스트레칭1.png" data-ko="목 스트레칭 1" data-en="Neck stretch 1" data-i18n="true" onclick="openInlineViewer(this)">목 스트레칭 1</button></div>
    <div class="nav-item"><button class="nav-btn" data-title="목 스트레칭 2" data-img="stretch/목스트레칭2.png" data-ko="목 스트레칭 2" data-en="Neck stretch 2" data-i18n="true" onclick="openInlineViewer(this)">목 스트레칭 2</button></div>
    <div class="nav-item"><button class="nav-btn" data-title="어깨 스트레칭" data-img="stretch/어깨스트레칭1.png" data-ko="어깨 스트레칭" data-en="Shoulder stretch" data-i18n="true" onclick="openInlineViewer(this)">어깨 스트레칭</button></div>
    <div class="nav-item"><button class="nav-btn" data-title="허리 스트레칭" data-img="stretch/허리스트레칭1.png" data-ko="허리 스트레칭" data-en="Lower back stretch" data-i18n="true" onclick="openInlineViewer(this)">허리 스트레칭</button></div>
    <div class="nav-item"><button class="nav-btn" data-title="허리·고관절 스트레칭" data-img="stretch/폼롤러운동법.png" data-ko="허리·고관절 스트레칭" data-en="Lower back &amp; hip stretch" data-i18n="true" onclick="openInlineViewer(this)">허리·고관절 스트레칭</button></div>
    <div class="nav-item"><button class="nav-btn" data-title="허리·엉덩이 근육 운동" data-img="stretch/허리엉덩이근육운동.png" data-ko="허리·엉덩이 근육 운동" data-en="Lower back &amp; glute exercise" data-i18n="true" onclick="openInlineViewer(this)">허리·엉덩이 근육 운동</button></div>
    <div class="nav-item"><button class="nav-btn" data-title="무릎 스트레칭" data-img="stretch/무릎스트레칭1.png" data-ko="무릎 스트레칭" data-en="Knee stretch" data-i18n="true" onclick="openInlineViewer(this)">무릎 스트레칭</button></div>
    <div class="nav-item"><button class="nav-btn" data-title="발목 스트레칭 1" data-img="stretch/발목스트레칭1.png" data-ko="발목 스트레칭 1" data-en="Ankle stretch 1" data-i18n="true" onclick="openInlineViewer(this)">발목 스트레칭 1</button></div>
    <div class="nav-item"><button class="nav-btn" data-title="발목 스트레칭 2" data-img="stretch/발목스트레칭2.png" data-ko="발목 스트레칭 2" data-en="Ankle stretch 2" data-i18n="true" onclick="openInlineViewer(this)">발목 스트레칭 2</button></div>
  </div>
</section>
